* {
 box-sizing: border-box;
}


body {
 font-family: 'Roboto', sans-serif;
}

h3 {
 font-family: 'Lato',
  sans-serif;
}

#main {
 display: grid;
 grid-template-columns: 70% 30%;
 grid-gap: -80%;
 margin: auto;
 height: 100%;
 max-width: 90%;
}

.main-head {
 font-size: 30px;
 max-width: 95%;
}

.divider {
 border-bottom: 4px double black;
 width: 94%;
 margin-top: -25px;
 margin-bottom: 80px;
}

span {
 font-weight: bold;
}



.a {
 display: inline;
}

li {
 padding-bottom: 5px;
}

.content {
 text-align: justify;
 max-width: 70%;
}

.sidebar {
 max-width: 90%;
 margin-left: -75px;
}